* {
  box-sizing: border-box;
}

:root {
  --primary-color: #d70018;
  --price-color: #ff001e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* ============================ common ============================ */
a {
  text-decoration: none;
  display: inline-block;
}

.main-content {
  max-width: calc(100% - 48px);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sub-title-font {
  font-size: 1.2rem;
  color: #343a40;
  font-weight: 700px;
  line-height: 20px;
  text-align: center;
}

.heading2 {
  font-size: 2.2rem;
  font-weight: 600px;
  line-height: 40px;
}

.heading3 {
  font-size: 1.4rem;
  font-weight: 600;
  height: 65px;
}

.btn-link {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  color: #444;
  font-size: 1.3rem;
  height: 34px;
  /* padding: 5px 10px 0; */
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ============================ header ============================ */
.header.fixed {
  position: sticky;
  top: 0;
}

.head-top {
  background: #e9efff;
  max-height: 40px;
  padding: 5px 0;
}

.head-top .body {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.head-top img {
  height: 30px;
  padding: 0 30px;
}

.header .nav {
  background: var(--primary-color);
  padding: 10px;
}

.header .nav .body {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
}

.header .nav .item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header .nav .hover:hover {
  background-color: #ffffff40;
  border-radius: 10px;
}

.nav .category {
  background-color: #ffffff40;
  border-radius: 10px;
}

.category img {
  width: 20px;
  height: 20px;
}

.call img {
  width: 22px;
  height: 22px;
}

.order-lookup img {
  width: 41px;
  height: 24px;
}

.cart img {
  width: 25px;
  height: 25px;
}

.sign-in img {
  width: 22px;
  height: 22px;
}

.header p {
  font-size: 1.2rem;
  color: #fff;
  padding: 0 5px;
}

.search-bar input {
  width: 450px;
  height: 34px;
  border: none;
  border-radius: 0 10px 10px 0;
}

.search-bar i {
  background-color: #fff;
  padding: 9px 5px;
  border-radius: 10px 0 0 10px;
}

.nav .call span {
  display: block;
  padding: 3px;
}

.nav .sign-in {
  text-align: center;
  background-color: #ffffff40;
  padding: 5px 2px 0;
  border-radius: 10px;
}

/* ============================ hero ============================ */
.hero .body {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.hero-left {
  width: 70%;
  box-shadow: 3px 3px 3px 1px rgba(60, 64, 67, 0.1);
  border-radius: 10px;
}

.hero-left .info {
  padding: 12px 6px;
}

.main-banner img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.hero-right {
  width: 30%;
}

.hero-right .sub-banner img {
  margin-top: 10px;
  height: 126.37px;
  box-shadow: 3px 3px 3px 1px rgba(60, 64, 67, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 136px;
}

.hero-right .sub-banner:first-child img {
  margin-top: 0;
}

/* ============================ popular phones ============================ */
.popular-phones .head {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list-phones {
  display: flex;
}

.list-phones .item {
  width: 20%;
}

.list-phones .thumb img {
  width: 160px;
  height: 160px;
}

.list-phones .price strong {
  color: var(--price-color);
}
