* {
  box-sizing: border-box;
}

:root {
  --primary-color: #d70018;
  --price-color: #ff001e;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* ============================ common ============================ */
a {
  text-decoration: none;
  display: inline-block;
}

.main-content {
  max-width: calc(100% - 48px);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.sub-title-font {
  font-size: 1.2rem;
  color: #343a40;
  font-weight: 700px;
  line-height: 20px;
  text-align: center;
}

.heading2 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 40px;
}

.heading3 {
  font-size: 1.4rem;
  font-weight: 600;
  height: 60px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.price {
  color: var(--price-color);
  font-weight: 700;
  font-size: 1.6rem;
  display: inline-block;
}

.price-through {
  font-size: 1.4rem;
  color: #707070;
  display: inline-block;
  font-weight: 600;
  text-decoration: line-through;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-link {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  color: #444;
  font-size: 1.3rem;
  height: 34px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.line-clamp {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 2);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis; /* Thêm để hiển thị dấu ba chấm */
  white-space: normal; /* Đảm bảo văn bản wrap bình thường */
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.break-all {
  word-break: break-all;
}

/* ============================ header ============================ */
.header.fixed {
  position: sticky;
  top: 0;
}

.head-top {
  background: #e9efff;
  max-height: 40px;
  padding: 5px 0;
}

.head-top .body {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.head-top img {
  height: 30px;
  padding: 0 30px;
}

.header .nav {
  background: var(--primary-color);
  padding: 10px;
}

.header .nav .body {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
}

.header .nav .item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.header .nav .hover:hover {
  background-color: #ffffff40;
  border-radius: 10px;
  cursor: pointer;
}

.nav .category {
  background-color: #ffffff40;
  border-radius: 10px;
}

.category img {
  width: 20px;
  height: 20px;
}

.call img {
  width: 22px;
  height: 22px;
}

.order-lookup img {
  width: 41px;
  height: 24px;
}

.cart img {
  width: 25px;
  height: 25px;
}

.sign-in img {
  width: 22px;
  height: 22px;
}

.header p {
  font-size: 1.2rem;
  color: #fff;
  padding: 0 5px;
}

.search-bar input {
  width: 450px;
  height: 34px;
  border: none;
  border-radius: 0 10px 10px 0;
}

.search-bar i {
  background-color: #fff;
  padding: 9px 5px;
  border-radius: 10px 0 0 10px;
}

.nav .call span {
  display: block;
  padding: 3px;
}

.nav .sign-in {
  text-align: center;
  background-color: #ffffff40;
  padding: 5px 2px 0;
  border-radius: 10px;
}

/* ============================ main ============================ */
/* top main */
.bgc-breadcrumb,
.header {
  z-index: 1;
}

.bgc-breadcrumb {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 42px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 1.2rem;
}

.breadcrumb li {
  padding: 5px;
  color: #0000009a;
}

.breadcrumb a {
  color: black;
  font-weight: 600;
}

/* phone-detail */
.detail-container {
  display: flex;
  gap: 20px;
}

.detail-right,
.detail-left {
  width: 50%;
}

/* detail left */
.detail-left p {
  display: inline-block;
  margin-top: 50px;
}

.rating {
  margin-top: 5px;
}

.rating strong {
  font-weight: 600;
}

.rating em {
  color: #71717a;
}

.main-img {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.main-img img {
  width: 320px;
  height: 320px;
}

.sub-imgs img {
  width: 64px;
  height: 64px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 5px;
}

.tech-specs .heading2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.tech-specs table td,
.tech-specs table tr {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  line-height: 1.5;
  vertical-align: middle;
}

.tech-specs table td:first-child {
  background: rgba(128, 128, 128, 0.126);
  width: 30%;
}

.FAQ .heading2 {
  margin-top: 20px;
  display: block;
}

.FAQ .btn-link {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  padding: 20px;
  font-weight: 600;
}

.FAQ i {
  margin-left: auto;
}

/* detail right */
.prod-price {
  width: 50%;
}

.prod-price p {
  display: inline-block;
  margin-top: 60px;
  padding: 0 50px 0 0;
}

.prod-price strong {
  padding: 5px 5px 20px 0;
  color: var(--price-color);
}

.version p {
  height: 20px;
}

.version ul {
  display: flex;
}

.version a {
  color: black;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 10px;
  margin-right: 10px;
}

.heading3.color {
  margin-top: 20px;
  height: 20px;
}

.color-list {
  display: flex;
}

.color-list .color {
  display: flex;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.208);
  border-radius: 10px;
  margin-right: 10px;
}

.color img {
  width: 40px;
  height: 40px;
}

.color .title {
  font-weight: 700;
  padding-bottom: 5px;
}

.color .info {
  margin-left: 10px;
}

.cta-group {
  display: flex;
  margin-top: 20px;
}

.buy-now {
  width: 50%;
  margin: 0 10px;
}

.buy-on-instal {
  width: 20%;
}

.add-cart {
  width: 30%;
}

.buy-now .title {
  text-align: center;
}

.buy-now .desc {
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 5px;
  text-align: center;
}

.buy-on-instal {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b82f6;
  border-radius: 10px;
}

.buy-on-instal p {
  color: #3b82f6;
  font-weight: 700;
}

.add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.add-cart i,
.add-cart span {
  color: var(--primary-color);
}

.add-cart i {
  margin-right: 5px;
}

.review .body {
  background: #f7f7f8;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  margin: 20px;
  padding: 15px;
}

.review-left {
  width: 30%;
  text-align: center;
  padding-top: 2px;
}

.review-right {
  width: 70%;
}

.review-left .star {
  margin-top: 8px;
}

.review-left strong {
  font-weight: 700;
  font-size: 2rem;
}

.review-left em {
  font-size: 1.8rem;
}

.review-left p {
  margin-top: 8px;
}

.review-left .btn {
  margin-top: 8px;
}

.review-right p {
  position: relative;
  height: 20%;
}

.review-right span::before {
  position: absolute;
  top: 7px;
  left: 40px;
  display: block;
  content: "";
  width: 60%;
  height: 5px;
  background: var(--primary-color);
  border-radius: 5px;
}

.review-right span {
  padding-left: 500px;
  font-weight: 200;
  font-size: 1.4rem;
}
/* ============================ footer ============================ */
.footer {
  background: #f7f7f8;
  padding-bottom: 30px;
}

.footer-top {
  display: flex;
  margin-top: 30px;
  padding: 20px 0;
  justify-content: space-between;
}

.head-foot {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
}

.btn-policy {
  color: rgba(33, 33, 33, 0.658);
  font-size: 1.4rem;
  line-height: 2.5;
}
.footer-top strong {
  display: inline-block;
  font-weight: 700;
}

.pay-method-imgs {
  width: 100%;
  gap: 10px;
}

.pay-method-imgs .pay-img {
  width: 40px;
  margin: 10px 5px 10px 0;
}

.qr-ch-at {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ch-at img {
  width: 110px;
  height: 40px;
  margin: 8px;
}

.qr img {
  width: 110px;
}

.btn-socials i {
  font-size: 28px;
  padding: 15px 10px 0 0;
}

.fa-youtube {
  color: #ff001e;
}

.fa-facebook {
  color: #1f76f7;
}

.fa-square-instagram {
  color: #d61e80;
}

.fa-tiktok {
  color: #000000;
}

.title-foot {
  color: rgba(33, 33, 33, 0.658);
  font-size: 1.4rem;
  line-height: 2.5;
}

.title-foot-bot {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.463);
  line-height: 2;
  border-top: 1px solid #0000001b;
  padding-top: 20px;
}

.footer-bot img {
  width: 50px;
  height: 20px;
  margin: 3px;
}

.footer-bot .algin {
  display: flex;
  justify-content: center;
}

.h4-footer {
  margin-top: 10px;
}

#inp-footer {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.362);
  padding: 10px;
}

.btn-regis {
  padding: 10px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.regis-mews {
  margin-top: 0;
}
